name: CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted 
    steps:
      - name: Pull latest code
        run: |
          cd /opt/HypersonicVehicles-PreLandingSimulator/mars-edl-simulation
          git checkout main
          git pull origin main
      - name: Rebuild and restart services
        run: |
          docker compose build --pull
          docker compose up -d